<form action="profile_edited">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" href="#">Edit Profile</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href="profile_edit" class="list-group-item">User Information</a>
          <a href="profile_pic_process" class="list-group-item">Profile Picture</a>
          <a href="pers_info_process" class="list-group-item">Personal Information</a>
          <a href="special_dates_process" class="list-group-item">Special Dates</a>
        </div>
      </div>

      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Profile Picture</h3>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <img class="img-responsive center-block" src="http://24.media.tumblr.com/f1096b54d940b11b8a1a51438c0380b3/tumblr_mlepboX7qJ1qfdu3lo1_500.jpg" alt="blankprofile">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<table class="table table-condensed">
            <tr>
              <td width="200">First Name</td>
              <td width="*"><%= @first_name %></td>
            </tr>
            <tr>
              <td width="200">Last Name</td>
              <td width="*"><%= @last_name %></td>
            </tr>
            <tr>
              <td width="200">Address Line 1</td>
              <td width="*"><%= @address_first %></td>
            </tr>
            <tr>
              <td width="200">Address Line 2</td>
              <td width="*"><%= @address_second %></td>
            </tr>
            <tr>
              <td width="200">City</td>
              <td width="*"><%= @city %></td>
            </tr>
            <tr>
              <td width="200">State</td>
              <td width="*"><%= @state %></td>
            </tr>
            <tr>
              <td width="200">ZIP</td>
              <td width="*"><%= @zip %></td>
            </tr>
          </table>
